# Required
project=pdg-project-406720
dynamic_world_data=/data/water_timeseries/dynamic_world_data
dynamic_world_downloads=/data/water_timeseries/dynamic_world_data/downloads
vector_lake_file=/data/water_timeseries/input/Nitze_etal_Lakes_filtered_full_set_V2d.parquet
output_dir=/data/water_timeseries/output
start_year=2023
start_month=6
end_year=2023
end_month=7



# Optional - Processing configuration
region_name=TEST
id_chunk_size=500
save_interval=1
n_jobs=8
break_threshold=0.5

# Optional - BEAST parameters
beast_trendMaxOrder=0
beast_trendMinSepDist=1
beast_nCpMax=3
beast_maxK=2