project=pdg-project-406720
vector_dataset_file_url=pdg-storage-default/water_timeseries_v2/data/input/Nitze_etal_Lakes_filtered_full_set_V2d.parquet
bucket_path=pdg-storage-default/water_timeseries_v2/data/input
base_dir=/data/water_timeseries
dynamic_world_dir=/data/water_timeseries/dynamic_world_data
dynamic_world_data=/data/water_timeseries/dynamic_world_data
dynamic_world_downloads=/data/water_timeseries/dynamic_world_data/downloads
vector_lake_file=/data/water_timeseries/input/Nitze_etal_Lakes_filtered_full_set_V2d.parquet
output_dir=/data/water_timeseries/output
region_name=TEST
start_year=2015
end_year=2024