project=pdg-project-406720
vector_dataset_file_url=pdg-storage-default/water_timeseries_v2/data/input/Nitze_etal_Lakes_filtered_full_set_V2d.parquet
bucket_path=pdg-storage-default/water_timeseries_v2/data/input
base_dir=water_timeseries_argo_workflow/data
dynamic_world_dir=water_timeseries_argo_workflow/data/dynamic_world
split_vector_dataset_dir=water_timeseries_argo_workflow/data/input/split_lakes
dynamic_world_data=water_timeseries_argo_workflow/data/dynamic_world/lakes_dw_V2d.nc
vector_lake_file=water-timeseries-v2/tests/data/lake_polygons.parquet
new_dynamic_world_data_dir=water_timeseries_argo_workflow/data/new_dynamic_world
dynamic_world_data_file=water_timeseries_argo_workflow/data/dynamic_world/lakes_dw_V2d.nc
output_dir=water_timeseries_argo_workflow/data/output
test_run=True