project="pdg-project-406720"
vector_dataset_file_url="https://storage.googleapis.com/pdg-storage-default/water_timeseries_v2/data/input/Nitze_etal_Lakes_filtered_full_set_V2d.parquet"
base_dir="/data/water_timeseries"
dynamic_world_dir="/data/water_timeseries/dynamic_world_downloads"
